In [1]:
import numpy as np

In [2]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

Load the Dataset:

In [56]:
data =  pd.read_csv('car price.csv')

In [57]:
data.head()

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,FORD,Mustang,2016,Cabriolet,Yes,Petrol,2.3 Turbo,75000.0,Tiptronic,Rear,02-03-2023,Left wheel,Silver,6.0,423370
1,45766794,MITSUBISHI,Pajero,1997,Jeep,No,Petrol,2.4,142000.0,Automatic,4x4,02-03-2023,Left wheel,Blue,6.0,156810
2,45709646,TOYOTA,RAV 4,2001,Jeep,No,Petrol,2,91000.0,Automatic,4x4,02-03-2023,Right-hand drive,Silver,4.0,108200
3,45816588,SUZUKI,Grand Vitara,2008,Jeep,No,Petrol,1.6,98000.0,Automatic,4x4,02-03-2023,Left wheel,Black,12.0,156810
4,45759758,MITSUBISHI,Pajero Mini,2006,Jeep,No,Petrol,0.7,314000.0,Manual,4x4,02-03-2023,Right-hand drive,Silver,2.0,43910

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4819 entries, 0 to 4818
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 4819 non-null   int64
 1   Manufacturer       4819 non-null   object
 2   Model              4819 non-null   object
 3   Prod_Year          4819 non-null   int64
 4   Category           4819 non-null   object
 5   Leather_Interioe   4819 non-null   object
 6   Fuel_Type          4819 non-null   object
 7   Engine Volume      4819 non-null   object
 8   Kilometers_Driven  4733 non-null   float64
 9   Gear_Box_Type      4819 non-null   object
 10  Drive_Wheel        4819 non-null   object
 11  Selling_Date       4819 non-null   object
 12  Wheel              4819 non-null   object
 13  Color              4819 non-null   object
 14  Airbags            4650 non-null   float64
 15  Price              4819 non-null   int64
dtypes: float64(2), int64(3), object(11)
memory usage: 602.5+ KB

In [59]:
data.select_dtypes(['object']).head(6)

,Manufacturer,Model,Category,Leather_Interioe,Fuel_Type,Engine Volume,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color
0,FORD,Mustang,Cabriolet,Yes,Petrol,2.3 Turbo,Tiptronic,Rear,02-03-2023,Left wheel,Silver
1,MITSUBISHI,Pajero,Jeep,No,Petrol,2.4,Automatic,4x4,02-03-2023,Left wheel,Blue
2,TOYOTA,RAV 4,Jeep,No,Petrol,2,Automatic,4x4,02-03-2023,Right-hand drive,Silver
3,SUZUKI,Grand Vitara,Jeep,No,Petrol,1.6,Automatic,4x4,02-03-2023,Left wheel,Black
4,MITSUBISHI,Pajero Mini,Jeep,No,Petrol,0.7,Manual,4x4,02-03-2023,Right-hand drive,Silver
5,SUZUKI,Jimny,Jeep,No,Petrol,1.3,Manual,4x4,02-03-2023,Left wheel,Green

In [89]:
data1 = data

In [61]:
print(type(data1))

<class 'pandas.core.frame.DataFrame'>

LABEL ENCODING

In [62]:
from sklearn.preprocessing import LabelEncoder

In [63]:
labelencode = LabelEncoder()

In [64]:
data['Gear_Box_Type'].value_counts()

Gear_Box_Type
Automatic    3365
Tiptronic    1149
Manual        305
Name: count, dtype: int64

In [65]:
data['Gear_Box_Type'] = labelencode.fit_transform(data['Gear_Box_Type'])

In [66]:
data['Gear_Box_Type'].value_counts()

Gear_Box_Type
0    3365
2    1149
1     305
Name: count, dtype: int64

In [67]:
data.head()

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,FORD,Mustang,2016,Cabriolet,Yes,Petrol,2.3 Turbo,75000.0,2,Rear,02-03-2023,Left wheel,Silver,6.0,423370
1,45766794,MITSUBISHI,Pajero,1997,Jeep,No,Petrol,2.4,142000.0,0,4x4,02-03-2023,Left wheel,Blue,6.0,156810
2,45709646,TOYOTA,RAV 4,2001,Jeep,No,Petrol,2,91000.0,0,4x4,02-03-2023,Right-hand drive,Silver,4.0,108200
3,45816588,SUZUKI,Grand Vitara,2008,Jeep,No,Petrol,1.6,98000.0,0,4x4,02-03-2023,Left wheel,Black,12.0,156810
4,45759758,MITSUBISHI,Pajero Mini,2006,Jeep,No,Petrol,0.7,314000.0,1,4x4,02-03-2023,Right-hand drive,Silver,2.0,43910

In [68]:
data.select_dtypes(['object']).head(6)

,Manufacturer,Model,Category,Leather_Interioe,Fuel_Type,Engine Volume,Drive_Wheel,Selling_Date,Wheel,Color
0,FORD,Mustang,Cabriolet,Yes,Petrol,2.3 Turbo,Rear,02-03-2023,Left wheel,Silver
1,MITSUBISHI,Pajero,Jeep,No,Petrol,2.4,4x4,02-03-2023,Left wheel,Blue
2,TOYOTA,RAV 4,Jeep,No,Petrol,2,4x4,02-03-2023,Right-hand drive,Silver
3,SUZUKI,Grand Vitara,Jeep,No,Petrol,1.6,4x4,02-03-2023,Left wheel,Black
4,MITSUBISHI,Pajero Mini,Jeep,No,Petrol,0.7,4x4,02-03-2023,Right-hand drive,Silver
5,SUZUKI,Jimny,Jeep,No,Petrol,1.3,4x4,02-03-2023,Left wheel,Green

In [69]:
data['Category'] = labelencode.fit_transform(data['Category'])

In [70]:
data.head()

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,FORD,Mustang,2016,0,Yes,Petrol,2.3 Turbo,75000.0,2,Rear,02-03-2023,Left wheel,Silver,6.0,423370
1,45766794,MITSUBISHI,Pajero,1997,1,No,Petrol,2.4,142000.0,0,4x4,02-03-2023,Left wheel,Blue,6.0,156810
2,45709646,TOYOTA,RAV 4,2001,1,No,Petrol,2,91000.0,0,4x4,02-03-2023,Right-hand drive,Silver,4.0,108200
3,45816588,SUZUKI,Grand Vitara,2008,1,No,Petrol,1.6,98000.0,0,4x4,02-03-2023,Left wheel,Black,12.0,156810
4,45759758,MITSUBISHI,Pajero Mini,2006,1,No,Petrol,0.7,314000.0,1,4x4,02-03-2023,Right-hand drive,Silver,2.0,43910

In [71]:
data['Wheel'] = labelencode.fit_transform(data['Wheel'])

In [72]:
data['Color'] = labelencode.fit_transform(data['Color'])

In [73]:
data.select_dtypes(['object'])

,Manufacturer,Model,Leather_Interioe,Fuel_Type,Engine Volume,Drive_Wheel,Selling_Date
0,FORD,Mustang,Yes,Petrol,2.3 Turbo,Rear,02-03-2023
1,MITSUBISHI,Pajero,No,Petrol,2.4,4x4,02-03-2023
2,TOYOTA,RAV 4,No,Petrol,2,4x4,02-03-2023
3,SUZUKI,Grand Vitara,No,Petrol,1.6,4x4,02-03-2023
4,MITSUBISHI,Pajero Mini,No,Petrol,0.7,4x4,02-03-2023
...,...,...,...,...,...,...,...
4814,LEXUS,IS 250,Yes,Petrol,2.5,Rear,05-05-2023
4815,BMW,528,Yes,Petrol,2.0 Turbo,Rear,05-05-2023
4816,FORD,Escape,Yes,Petrol,3,4x4,05-05-2023
4817,TOYOTA,Land Cruiser,Yes,Petrol,4.7,4x4,05-05-2023
4818,MERCEDES-BENZ,E 350,Yes,Petrol,3.5,4x4,05-05-2023

In [74]:
data['Drive_Wheel'] = labelencode.fit_transform(data['Drive_Wheel'])

In [75]:
data['Manufacturer'] = labelencode.fit_transform(data['Manufacturer'])

In [76]:
data

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,13,Mustang,2016,0,Yes,Petrol,2.3 Turbo,75000.0,2,2,02-03-2023,0,12,6.0,423370
1,45766794,34,Pajero,1997,1,No,Petrol,2.4,142000.0,0,0,02-03-2023,0,2,6.0,156810
2,45709646,45,RAV 4,2001,1,No,Petrol,2,91000.0,0,0,02-03-2023,1,12,4.0,108200
3,45816588,43,Grand Vitara,2008,1,No,Petrol,1.6,98000.0,0,0,02-03-2023,0,1,12.0,156810
4,45759758,34,Pajero Mini,2006,1,No,Petrol,0.7,314000.0,1,0,02-03-2023,1,12,2.0,43910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,45602856,27,IS 250,2015,3,Yes,Petrol,2.5,90000.0,2,2,05-05-2023,0,12,8.0,376330
4815,45089354,3,528,2014,3,Yes,Petrol,2.0 Turbo,70000.0,2,2,05-05-2023,0,1,10.0,454730
4816,45264871,13,Escape,2011,1,Yes,Petrol,3,104000.0,0,0,05-05-2023,0,1,6.0,166210
4817,45510310,45,Land Cruiser,2008,1,Yes,Petrol,4.7,138000.0,0,0,05-05-2023,0,1,10.0,517460
4818,45801572,31,E 350,2012,3,Yes,Petrol,3.5,130000.0,0,0,05-05-2023,0,1,10.0,141130

In [94]:
data['Model'] = labelencode.fit_transform(data['Model'])

In [95]:
data

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,13,467,2016,0,Yes,Petrol,2.3 Turbo,75000.0,2,2,02-03-2023,0,12,6.0,423370
1,45766794,34,495,1997,1,No,Petrol,2.4,142000.0,0,0,02-03-2023,0,2,6.0,156810
2,45709646,45,531,2001,1,No,Petrol,2,91000.0,0,0,02-03-2023,1,12,4.0,108200
3,45816588,43,360,2008,1,No,Petrol,1.6,98000.0,0,0,02-03-2023,0,1,12.0,156810
4,45759758,34,497,2006,1,No,Petrol,0.7,314000.0,1,0,02-03-2023,1,12,2.0,43910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,45602856,27,379,2015,3,Yes,Petrol,2.5,90000.0,2,2,05-05-2023,0,12,8.0,376330
4815,45089354,3,54,2014,3,Yes,Petrol,2.0 Turbo,70000.0,2,2,05-05-2023,0,1,10.0,454730
4816,45264871,13,289,2011,1,Yes,Petrol,3,104000.0,0,0,05-05-2023,0,1,6.0,166210
4817,45510310,45,416,2008,1,Yes,Petrol,4.7,138000.0,0,0,05-05-2023,0,1,10.0,517460
4818,45801572,31,255,2012,3,Yes,Petrol,3.5,130000.0,0,0,05-05-2023,0,1,10.0,141130

One hot Encoding

In [90]:
columns_to_one_hot_encode = [ 'Drive_Wheel','Leather_Interioe','Fuel_Type','Category']

In [91]:
df = pd.get_dummies(data1 , columns=columns_to_one_hot_encode,drop_first=True,dtype=int)

In [92]:
df.shape

(4819, 21)

In [93]:
df

,Id,Manufacturer,Model,Prod_Year,Engine Volume,Kilometers_Driven,Gear_Box_Type,Selling_Date,Wheel,Color,...,Price,Drive_Wheel_1,Drive_Wheel_2,Leather_Interioe_Yes,Fuel_Type_Diesel,Fuel_Type_Hybrid,Fuel_Type_Petrol,Category_1,Category_2,Category_3
0,45624039,13,Mustang,2016,2.3 Turbo,75000.0,2,02-03-2023,0,12,...,423370,0,1,1,0,0,1,0,0,0
1,45766794,34,Pajero,1997,2.4,142000.0,0,02-03-2023,0,2,...,156810,0,0,0,0,0,1,1,0,0
2,45709646,45,RAV 4,2001,2,91000.0,0,02-03-2023,1,12,...,108200,0,0,0,0,0,1,1,0,0
3,45816588,43,Grand Vitara,2008,1.6,98000.0,0,02-03-2023,0,1,...,156810,0,0,0,0,0,1,1,0,0
4,45759758,34,Pajero Mini,2006,0.7,314000.0,1,02-03-2023,1,12,...,43910,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,45602856,27,IS 250,2015,2.5,90000.0,2,05-05-2023,0,12,...,376330,0,1,1,0,0,1,0,0,1
4815,45089354,3,528,2014,2.0 Turbo,70000.0,2,05-05-2023,0,1,...,454730,0,1,1,0,0,1,0,0,1
4816,45264871,13,Escape,2011,3,104000.0,0,05-05-2023,0,1,...,166210,0,0,1,0,0,1,1,0,0
4817,45510310,45,Land Cruiser,2008,4.7,138000.0,0,05-05-2023,0,1,...,517460,0,0,1,0,0,1,1,0,0
4818,45801572,31,E 350,2012,3.5,130000.0,0,05-05-2023,0,1,...,141130,0,0,1,0,0,1,0,0,1